.about-us__wrapper {
  width: $mobile-width;
  margin: 0 auto;
  padding: 35px $padding 46px;
}

.about-us__header {
  margin: 0;
  margin-bottom: 20px;
  font-family: $font-stack-head;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: #7f38bd;
}

.about-us__subheader {
  margin: 0;
  margin-bottom: 29px;

  font-family: $font-stack-head;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #383d52;
}

.about-us p {
  margin: 0;
  margin-bottom: 24px;
}

.about-us p:last-of-type {
  margin-bottom: 34px;
}

.about-us__image-wrapper {
  text-align: right;
}

@media (min-width: $tablet-width) {
  .about-us__wrapper {
    width: $tablet-width;
  }

  .about-us__subheader {
    font-size: 32px;
    line-height: 40px;
  }
}

@media (min-width: $desktop-width) {
  .about-us__wrapper {
    width: $desktop-width;
    display: flex;
    flex-direction: row-reverse;
  }
}
