.faq {
  padding-top: 10px;
  padding-bottom: 84px;
}

.faq__wrapper {
  width: $mobile-width;
  margin: 0 auto;
  padding: 0 $padding;
}

.faq__header {
  margin: 0;
  margin-bottom: 27px;

  font-family: $font-stack-head;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: #7f38bd;
}

.faq__list {
  margin-bottom: 55px;
}

.faq__list dt {
  margin-bottom: 18px;

  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #383d52;
}

.faq__list dd {
  margin: 0;
  margin-bottom: 32px;
}

@media (min-width: $tablet-width) {
  .faq {
    padding-top: 30px;
    padding-bottom: 102px;
  }

  .faq__wrapper {
    width: $tablet-width;
  }

  .faq__header {

    margin-bottom: 47px;

  }

  .faq__list {
    margin-bottom: 52px;
  }

  .faq__list dt {
    margin-bottom: 19px;
  }
}

@media (min-width: $desktop-width) {
  .faq {
    padding-top: 74px;
    padding-bottom: 169px;
  }

  .faq__wrapper {
    width: $desktop-width;
  }

  .faq__header {
    margin-bottom: 56px;
  }

  .faq__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    max-height: 500px;
    margin-bottom: 23px;
  }

  .faq__list dd {
    margin-bottom: 42px;
  }

  .faq__list > div {
    width: 555px;
  }
}
