.footer {
  padding-top: 45px;
  padding-bottom: 50px;

  background-color: #65269d;
}

.footer p,
.footer a {
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: $mobile-width;
  margin: 0 auto;
  padding: 0 $padding;
}

.footer__privacy-policy {
  margin: 0;
  margin-bottom: 22px;
  order: -1;
}

.footer__designed-by {
  display: none;
}

@media (min-width: $tablet-width) {
  .footer {
    padding-top: 20px;
    padding-bottom: 26px;
  }

  .footer__wrapper {
    width: $tablet-width;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__copyright {
    margin: 0;
  }

  .footer__privacy-policy {
    order: 0;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .footer__wrapper {
    width: $desktop-width;
  }
}
