.gallery {
  position: relative;
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  z-index: 2;
}

.gallery picture::before {
  content: "";

  position: absolute;
  left: 50%;
  top: -5px;

  width: 280px;
  height: 8px;
  background-color: #b7b1bb;
  z-index: -1;

  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  transform: translateX(-50%);
}

.gallery picture::after {
  content: "";

  position: absolute;
  left: 50%;
  top: -9px;

  width: 264px;
  height: 8px;
  background-color: #e3dce8;
  z-index: -2;

  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  transform: translateX(-50%);
}

.gallery picture {

}

.gallery img {
  display: block;
  margin-bottom: 11px;

  border-radius: 8px;
  box-shadow: 0px 40px 70px 0px rgba(80,9,79,0.35);
}


.gallery__image-caption {

  margin-bottom: 26px;

  font-size: 13px;
}

.gallery__navigation {
  display: flex;
  justify-content: space-around;
  order: 1;
  width: 100%;
}

.gallery__navigation svg {
  display: block;
  fill: #883eca;
}

.gallery__navigation--back,
.gallery__navigation--next {
  display: block;
  width: 90px;
  height: 14px;
  padding: 0;
  margin: 0;

  border-radius: 0;
  background-color: transparent;
}

.gallery__navigation--back:hover,
.gallery__navigation--next:hover {
  box-shadow: none;
}

.gallery__navigation--back:hover svg,
.gallery__navigation--next:hover svg {
  fill: #fb0275;
}



@media (min-width: $tablet-width) {
  .gallery__image-caption {
    order: 0;
    margin-bottom: 0;
  }

  .gallery picture::before {
    top: -12px;

    width: 688px;
    height: 12px;
  }

  .gallery picture::after {

    top: -24px;

    width: 652px;
    height: 12px;


    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

  }

  .gallery img {
    margin-bottom: 40px;
    box-shadow: 0 20px 40px 0 rgba(80,9,79,.35);
  }

  .gallery__navigation {
    width: 225px;
    align-items: center;
    justify-content: space-between;
    order: 0;
  }

  .gallery__navigation--back,
  .gallery__navigation--next {
    margin: 0;

  }


}

@media (min-width: $desktop-width) {

  .gallery picture::before {
    width: 538px;
  }

  .gallery picture::after {
    width: 498px;
  }

  .gallery img {
    margin-bottom: 44px;
  }

  .gallery__navigation {
    margin-right: 57px;
  }

  .gallery__image-caption {
    line-height: 14px;
  }
}
