.hero-block {
  // background-color: #6a3093;
}

.hero-block__wrapper {
  width: $mobile-width;
  margin: 0 auto;
  padding: 340px $padding 65px;

  background-image: url(../img/hero-illustration-mobile.png);
  background-position: top 6px left;
  background-repeat: no-repeat;

}

.hero-block__slogan {
  display: block;
  margin-bottom: 24px;

  font-family: $font-stack-head;
  font-weight: 800;
  font-size: 36px;
  line-height: 43px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ffffff;
}

.hero-block__description {
  font-family: $font-stack-head;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  color: #ffffff;

  margin: 0;
  margin-bottom: 42px;
}

.hero-block__delivery-info {
  margin: 0;
  margin-top: 25px;

  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .hero-block__wrapper {
    position: relative;

    width: $tablet-width;
    display: flex;
    justify-content: flex-end;
    padding: 0 $padding;
    padding-bottom: 91px;

    background-image: url(../img/hero-illustration-tablet.png);
    background-position: top 14px left -14px;
  }

  .hero-block__wrapper::after {
    content: "";

    position: absolute;
    bottom: 40px;
    left: 50%;

    width: 21px;
    height: 33px;

    background-image: url(../img/icon-scroll.svg);
    background-position: top center;
    background-repeat: no-repeat;

    transform: translateX(-50%);
  }

  .hero-block__content {
    width: 282px;
    padding-top: 47px;
  }

  .hero-block__slogan {
    font-size: 45px;
    line-height: 55px;

    margin-bottom: 28px;
  }

  .hero-block__description {
    margin-bottom: 34px;
  }

  .hero-block__button {
    width: auto;
    padding: 14px 42px;
  }
}

@media (min-width: $desktop-width) {
  .hero-block__wrapper {
    width: $desktop-width;
    padding-bottom: 218px;

    background-image: url(../img/hero-illustration-desktop.png);
    background-position: top 87px left -95px;
  }

  .hero-block__wrapper::after {
    bottom: 68px;
  }

  .hero-block__content {
    width: 555px;
    padding-top: 130px;
    padding-left: 40px;
  }

  .hero-block__cta-wrapper {
    display: flex;
  }



  .hero-block__slogan {
    margin-bottom: 35px;

    font-size: 60px;
    line-height: 75px;
    letter-spacing: 3px;
  }

  .hero-block__description {
    margin-bottom: 76px;
    padding-right: 60px;

    font-size: 32px;
    line-height: 38px;


  }

  .hero-block__button {
    padding: 14px 40px;
    margin-right: 27px;
  }

  .hero-block__delivery-info {
    width: 220px;
    margin: 0;
  }
}
