.hero-block__wrapper {
  width: $mobile-width;
  margin: 0 auto;
  padding: 0 $padding;
}

@media (min-width: $tablet-width) {
  .hero-block__wrapper {
    width: $tablet-width;
    display: flex;
  }
}

@media (min-width: $desktop-width) {
  .hero-block__wrapper {
    width: $desktop-width;
  }

  .page-header__cta-wrapper {
    display: flex;
  }
}
