.page-header__wrapper {
  width: $mobile-width;
  margin: 0 auto;
  padding: 0 $padding;
  display: flex;
  justify-content: space-between;
}
.page-header__contact {
  display: none;
}
.page-header__nav {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-header__wrapper {
    width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  .page-header__wrapper {
    width: $desktop-width;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__nav {
    display: block;
  }

  .page-header__contact {
    display: block;
  }
}
