.services-speed {
  padding-top: 68px;
  padding-bottom: 62px;
}

.services-speed__wrapper {
  width: $mobile-width;
  margin: 0 auto;
  padding: 0 $padding;
}

.services-speed__text {
  padding-bottom: 250px;
  margin-bottom: 35px;
  background-image: url(../img/identity-bg-mobile.png);
  background-repeat: no-repeat;
  background-position: bottom center;

}

.services-speed__text > p {
  margin: 0;
  margin-bottom: 24px;
}

.services-speed__header {
  position: relative;
  z-index: 10;

  margin: 0;
  margin-bottom: 46px;

  font-family: $font-stack-head;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #383d52;
}

.services-speed__header::before {
  content: "3";

  position: absolute;
  z-index: -1;
  top: -44px;
  left: 28px;

  font-family: $font-stack-head;
  font-weight: 900;
  font-size: 200px;
  line-height: 200px;
  color: #ffffff;

  text-shadow: 0px 0px 21px rgba(81,8,86,0.08);
}

@media (min-width: $tablet-width) {
  .services-speed {
    padding-top: 105px;
    padding-bottom: 118px;

    background-image: url(../img/identity-bg-tablet.png);
    background-repeat: no-repeat;
    background-position: bottom 72px right -95px;
  }

  .services-speed__wrapper {
    width: $tablet-width;
  }

  .services-speed__header {
    width: 438px;
    margin-bottom: 44px;

    font-size: 32px;
    line-height: 40px;
  }

  .services-speed__header::before {
    top: -56px;
    left: 28px;
  }

  .services-speed__text {
    width: 640px;
    padding: 0;
    margin-bottom: 66px;

    background-image: none;
  }


}

@media (min-width: $desktop-width) {
  .services-speed {
    padding-top: 137px;
    padding-bottom: 155px;
    background-image: none;
  }

  .services-speed__header {
    margin-bottom: 47px;

    line-height: 38px;
  }

  .services-speed__header::before {
    top: -60px;
    left: -80px;
  }

  .services-speed__wrapper {
    position: relative;
  }

  .services-speed__wrapper::after {
    content: "";

    position: absolute;
    top: -146px;
    right: -84px;

    width: 648px;
    height: 544px;
    background-image: url(../img/identity-bg-desktop.png);
    background-repeat: no-repeat;
  }

  .services-speed__wrapper {
    width: $desktop-width;
  }

  .services-speed__text {
    width: 555px;
    margin-bottom: 107px;
  }
}
