.services {
  background-color: #faf8fb;
}

.services__header {
  width: $mobile-width;
  margin: 0 auto;
  margin-bottom: 37px;
  padding: 65px $padding 0;

  font-family: $font-stack-head;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: #7f38bd;
}

@media (min-width: $tablet-width) {
  .services__header {
    width: $tablet-width;
    padding-top: 165px;
    margin-bottom: 56px;
  }
}

@media (min-width: $desktop-width) {
  .services__header {
    width: $desktop-width;
  }
}
