.services-speed__wrapper {
  width: $mobile-width;
  margin: 0 auto;
  padding: 0 $padding;
}

@media (min-width: $tablet-width) {
  .services-speed__wrapper {
    width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  .services-speed__wrapper {
    width: $desktop-width;
  }
}
